<?xml version="1.0" encoding="UTF-8"?>
<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<!--logback详细配置：http://logback.qos.ch/manual/introduction.html-->
<!--参照http://m.blog.csdn.net/qq_26819733/article/details/74475056博客配置的，文件和滚动文件未配置-->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="APP_name" value="exam_system"></property>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <!--设置上下文名称，用于区分不同应用程序的记录。一旦设置，不能修改。-->
    <contextName>${APP_name}</contextName>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>


    <!--数据查询相关的日志-->
    <logger name="dao" level="DEBUG"/>


    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>